<div class="container">
    <div class="mx-auto p-0 row col-11">
      <img class="mx-auto pt-5" src="/assets/img/burgerCartoon-Img.jpg" alt="Burger Image">
    </div>
  </div>

<div class="input-group mb-3">
  <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="button-addon2">
  <div class="input-group-append">
    <button class="btn btn-outline-secondary" type="button" id="button-addon2">Button</button>
  </div>
</div>

